@font-face{
	font-family: fb; 
	src:url('../fonts/futurabold.otf');
	font-family: fl; 
	src:url('../fonts/futuralight.otf');

}



body{
	font-family: fl, Arial, Helvetica, sans-serif;
	font-size: 16px; 
	line-height: 1.5;
	margin:0; 
	background-color: #FFFFFF 
}


/*Global*/

*{
	overflow-x: hidden;
	text-align: center; 

}



#branding {

padding-top: 1em;

}

header, footer, .container{

  	margin: auto;
	overflow: hidden;
	border: none;
	text-align: center;

}

h1{
	font-size: 40px;
	overflow: hidden;
	margin-top: 2%;
	margin-bottom: 1%;
}

h2{
	font-size: 28px;
	overflow: hidden;
	margin-top: 0%;
	margin-bottom: 0%;
}

.inside{
	margin: 2% 0 ; 




}

div p{
	padding: 0 35%;

}

/*Header*/
header{
	
	background:#FFFFFF; 
	color: rgb(0, 0, 0);
	
	height: 150px;

	

}

#introduction{
  
  width: 150%;
  height: 150%;
  background-color: #f00;
  border-bottom-left-radius:  100% ;
  border-bottom-right-radius: 100% ;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;
 
  box-shadow: 10px 30px 30px -30px #808080;


} 
#introwrapper
{
	text-align: left; 

}

#listwrapper
{
}

#listwrapper ul
{
	padding: 0 37%; 
	text-align: left;

		

}

#listwrapper p
{
	text-align: left;
}



#listwrapper ul li
{
overflow-x: visible;
list-style: square outside none;
display: list-item;
margin-left: 1em;
text-align: left;  
}

#inplanparagraf{

	
	text-align: left;
}

#inplanknapp{
	background-color: rgb(51, 102, 255);
	border: none;
	color: white;
	text-decoration: none; 

	padding: 15px 25px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;



}
#inplanknapp:hover{
	background-color: rgb(2, 29, 112);




}


table {
	width:100%;
padding-left:30%;	
padding-right:30%;
border-spacing: 0; 
  }
  
table td, th, tr {
	text-align: left;
	padding: 8px;


}

table td{

}
  
table tr:nth-child(even) {
	background-color: #dddddd;
  }



#drönarlista{


	
}

#drönarlista ul
{
	padding: 0 37%; 
	text-align: left;

		

}


#drönarlista p
{
	text-align: left;
}



#drönarlista ul li
{
overflow-x: visible;
list-style: square outside none;
display: list-item;
margin-left: 1em;
text-align: left;  
}

#notyet{

	color:rgb(187, 186, 186); 
}


#case{


}

#navigationbar{
	padding-top: 1em;

	display:flex;
	flex-wrap: wrap;

	width: auto; 
	overflow: visible;  
	
cursor: pointer;
}

#navigationbar ul{
	padding-top: 1em;
	display:flex;
	flex-wrap: wrap;
	padding-left: 0px; 
	z-index: 1000;
	
}

#navigationbar ul li{
list-style: none; 
line-height: 50px; 

}

#navigationbar ul li a{
	display: block; 
	height: 100%;  
	padding: 0 10px;  
	text-transform: uppercase; 
	text-decoration: none; 

	color: #000; 
	

}

#navigationbar ul li a:hover{
	display: block; 
	height: 100%; 
	padding: 0 10px;  
	text-transform: uppercase; 
	text-decoration: none; 

	background-color: rgb(252, 250, 255) ; 
	
}

#navigationbar ul li ul{
	display: none; 
	position: absolute;
	background-color: #FFFFFF;
	

}



#navigationbar ul li:hover ul{
	display: block; 
	
	

}

#navigationbar ul li ul li a{
	width: 200px; 
	

}



.inside h1{

letter-spacing: 0.3em;
}

.video{

  overflow: hidden;
  width: 400px;
  height: 200px;



}

.images{
  width:100%; /* you can use % */

	
   	box-shadow: 2px 5px 10px #808080;

}

#introduction, #what-to-expect, #contact{
	background:#FFFFFF; 
	color: rgb(0, 0, 0);
}



#introduction .inside{
  
	margin: 0;
  
   
  
  
  } 


.container h1{

}

section {
  width: 150%;
  height: 150%;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;

	
}

#videolist{



}

#smallour{
font-size: 0.65em;
}

.highlights{
	
	color: rgb(102, 153, 102);
	font-size: 3em;
	line-height: 0.1;

}

.highlight2{

	font-size: 2em;
line-height: 3em;

}

.highlight3{

line-height: 2.5em;

}

#videolist div{
	/*border:1px #ccc solid;*/
}

#videolist{
	display:flex-inline;
}

#videolist .videobox{

}



.videobox{

display:flex;

padding:1% 30%;
}

.videoboxheading{
	font-family: fb,Arial, Helvetica, sans-serif;
	letter-spacing: .1em; 
}

.video{
	flex:3;
	padding:0 5%;
	
}

.videotext{
flex:3;
float:left;
padding-bottom:3%; 
padding-left: 3%;


}

.videotext .videoboxparagraph{
	text-align: left;
	min-height: 50px;

}

.videoboxheading{
margin: 0; 
}

.videoboxparagraph{
padding: 0 5%; 
}

footer{
	background:rgb(7, 66, 10);
	text-align: left;
	color:#FFFFFF
}


/*
#showcase{
	min-height: 400px; 
	background: url(../img/inplanpicture.jpg) no-repeat;
	text-align: center;
}*/
@media(max-width: 768px){

h1{
	font-size: 23px;
	overflow: hidden;
}

h2{
	font-size: 18px;
	overflow: hidden;
}

.videobox{

display:inline-block;

padding :0%  20%;

padding-bottom: 3%;
}

.video{
	display:inline-flex;
	padding:5% 5%;
}
.images {

 width:100%; /* you can use % */

}




.videotext{
flex:2;
padding-top:3%; 


}

.videotext .videoboxparagraph{
	text-align: center;


}

#introduction{
  
  width: 150%;
  height: 150%;
  border-bottom-left-radius:  0% ;
  border-bottom-right-radius: 0% ;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;
  box-shadow: 5px 10px 20px #808080;

 


} 





.highlight2{

	font-size: 1.5em;
line-height: 2em;

}

div p{
	padding: 0 28%;

}



}

@media(max-width: 500px){

	h1{
	font-size: 18px;
	overflow: hidden;
}

h2{
	font-size: 16px;
	overflow: hidden;
}

div p{
	padding: 0 26%;

}

.video{

  overflow: hidden;
  width: 200px;
  height: 100px;



}

.images{
  width:100%; /* you can use % */

	
   	box-shadow: none;

}





	}

