@font-face{
	font-family: fb; 
	src:url('../fonts/futurabold.otf');
	font-family: fl; 
	src:url('../fonts/futuralight.otf');
	
}



body{
	font-family: fl, Arial, Helvetica, sans-serif;
	font-size: 16px; 
	line-height: 1.5;
	margin:0; 
	background-color: #FFFFFF 
}
/*Global*/

*{
	overflow-x: hidden;
	text-align: center; 

}


#branding {
padding-top: 5%;

}

header, footer, .container{

  	margin: auto;
	overflow: hidden;
	border: none;
	text-align: center;

}

h1{
	font-size: 40px;
	overflow: hidden;
	margin-top: 2%;
	margin-bottom: 1%;
}

h2{
	font-size: 28px;
	overflow: hidden;
	margin-top: 2%;
	margin-bottom: 0%;
}

.inside{
	margin: 5% 0; 




}

div p{
	padding: 0 35%;

}

/*Header*/
header{
	
	background:#000000; 
	color: #FFFFFF;
	
	height: 200px;

	

}

#introduction{
  
  width: 150%;
  height: 150%;
  background-color: #f00;
  border-bottom-left-radius:  100% ;
  border-bottom-right-radius: 100% ;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;
  box-shadow: 5px 10px 20px #808080;



} 

.inside h1{

letter-spacing: 0.3em;
}

.video{

  overflow: hidden;
  width: 400px;
  height: 200px;



}

.images{
  width:100%; /* you can use % */

	
   	box-shadow: 2px 5px 10px #808080;

}

#introduction, #what-to-expect, #contact{
	background:#000000; 
	color: #FFFFFF;
}

.container h1{

}

section {
  width: 150%;
  height: 150%;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;

	
}

#videolist{



}

#smallour{
font-size: 0.65em;
}

.highlights{
	
	color: #87CEEB;
	font-size: 3em;
	line-height: 0.1;

}

.highlight2{

	font-size: 2em;
line-height: 3em;

}

.highlight3{

line-height: 2.5em;

}

#videolist div{
	/*border:1px #ccc solid;*/
}

#videolist{
	display:flex-inline;
}

#videolist .videobox{

}



.videobox{

display:flex;

padding:1% 30%;
}

.videoboxheading{
	font-family: fb,Arial, Helvetica, sans-serif;
	letter-spacing: .1em; 
}

.video{
	flex:3;
	padding:0 5%;
	
}

.videotext{
flex:3;
float:left;
padding-bottom:3%; 
padding-left: 3%;


}

.videotext .videoboxparagraph{
	text-align: left;
	min-height: 50px;

}

.videoboxheading{
margin: 0; 
}

.videoboxparagraph{
padding: 0 5%; 
}

footer{
	background: #87CEEB;
	text-align: left;
}


/*
#showcase{
	min-height: 400px; 
	background: url(../img/inplanpicture.jpg) no-repeat;
	text-align: center;
}*/
@media(max-width: 768px){

h1{
	font-size: 23px;
	overflow: hidden;
}

h2{
	font-size: 18px;
	overflow: hidden;
}

.videobox{

display:inline-block;

padding :0%  20%;

padding-bottom: 3%;
}

.video{
	display:inline-flex;
	padding:5% 5%;
}
.images {

 width:100%; /* you can use % */

}




.videotext{
flex:2;
padding-top:3%; 


}

.videotext .videoboxparagraph{
	text-align: center;


}

#introduction{
  
  width: 150%;
  height: 150%;
  border-bottom-left-radius:  0% ;
  border-bottom-right-radius: 0% ;
  top: 100%;
  left: -25%;
  position: relative;  
  right: 0;
  box-shadow: 5px 10px 20px #808080;



} 


.highlight2{

	font-size: 1.5em;
line-height: 2em;

}

div p{
	padding: 0 28%;

}



}

@media(max-width: 500px){

	h1{
	font-size: 18px;
	overflow: hidden;
}

h2{
	font-size: 16px;
	overflow: hidden;
}

div p{
	padding: 0 26%;

}

.video{

  overflow: hidden;
  width: 200px;
  height: 100px;



}

.images{
  width:100%; /* you can use % */

	
   	box-shadow: none;

}



	}

